MONGO_DBNAME=mydatabase
MONGO_URI=mongodb+srv://Beaverjuly:HewhosaysiamYudehai%263jiaofan@cluster0.yci0lxi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SENTRY_DSN="https://84931f975c03efc1143d36e4fa7c0fce@o4507057357783040.ingest.us.sentry.io/4507057361321984" 
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_REPO=https://github.com/your-repository-url # unnecessary for basic operations
GITHUB_SECRET=your_github_secret # unnecessary for basic operations
