MONGO_DBNAME=jy3813
MONGO_URI=mongodb://jy3813:p4tWejI7@class-mongodb.cims.nyu.edu:27017/jy3813
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_REPO=https://github.com/your-repository-url # unnecessary for basic operations
GITHUB_SECRET=your_github_secret # unnecessary for basic operations
