<!DOCTYPE html>
<html>
  <head>
    <title>Mini Valley</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Mini Valley</h1>
        <p>
          <a href="{{ url_for('home')}}">Entrance</a> |
          <a href="{{ url_for('read')}}">Our Valley</a> |
          <a href="{{ url_for('create')}}">Find My Voice</a>
          {% if 'username' in session %}
          | <a href="{{ url_for('profile', username=session['username']) }}">My Profile</a>
          {% endif %}
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          See how Mini Valley was built:
          <a href="https://github.com/nyu-database-design/flask-mongodb-web-app">available on Github</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
