{% extends 'base.html' %}

{% block container %}
<h1>This is Me, {{ user.username }}</h1>

<!-- Form to update or set bio -->
<form action="{{ url_for('update_bio') }}" method="post">
  <textarea id="bio" name="bio">{{ user.bio if user.bio else 'Brief bio...' }}</textarea>
  <br />
  <button type="submit">Save My Bio!</button>
</form>

{% if user.bio %}
<!-- Option to delete bio -->
<form action="{{ url_for('delete_bio') }}" method="post">
  <button type="submit">Erase My Bio!</button>
</form>
{% endif %}


{% endblock %}
