{% extends 'base.html' %}

{% block container %}
<h2 style="font-family: 'Arial Rounded MT Bold', Arial, sans-serif; font-size: 28px; color: hwb(90 98% 0%); text-shadow:1.5px 1.5px 0 rgb(131, 151, 100); text-align: left; margin-top: 20px; margin-bottom: 5px;">Explore the Valley !</h2>
<h2 style="font-family: 'Courier New', Courier, monospace; font-size: 16px; color: #fefef4; text-shadow:1px 1px 0 rgb(131, 151, 100); text-align: left; margin-top: 5px; margin-bottom: 20px;">Here are all Echoes captured...</h2>

<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% for doc in docs %}
<div>
    <hr class="solid">
    <p class="post">
        Voiced by <a href="{{ url_for('read_profile', username=doc.name) }}" target="_blank">{{ doc.name }}</a> at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
        <br/>
        <!-- Conditionally display Edit and Delete links -->
        {% if session['username'] == doc.name %}
        <a href="{{ url_for('edit', mongoid=doc._id) }}">Edit</a> | 
        <a href="{{ url_for('delete', mongoid=doc._id) }}" onclick="return confirm('Are you sure?');">Delete</a>
        {% endif %}
    </p>
    <p>{{ doc.message }}</p>
</div>
{% endfor %}

{% endblock %}


