{% extends 'base.html' %}

{% block container %}
<h2>Explore the Valley!</h2>
<p>Here are all Echoes captured.</p>

<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% for doc in docs %}
<div>
    <hr class="solid">
    <p class="post">
        Voiced by <a href="{{ url_for('read_profile', username=doc.name) }}" target="_blank">{{ doc.name }}</a> at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
        <br/>
        <!-- Conditionally display Edit and Delete links -->
        {% if session['username'] == doc.name %}
        <a href="{{ url_for('edit', mongoid=doc._id) }}">Edit</a> | 
        <a href="{{ url_for('delete', mongoid=doc._id) }}" onclick="return confirm('Are you sure?');">Delete</a>
        {% endif %}
    </p>
    <p>{{ doc.message }}</p>
</div>
{% endfor %}

{% endblock %}


